<div class="col-md-6">
	<div class="ibox-content" id="right_height" style="background-color: rgb(255, 255, 255);">
        <div style="border-bottom:2px solid #e6e6e6;color: #525252;font-size:14px;margin-bottom:8px;text-align:left;line-height:36px;">职位管理</div>
        {notempty name="positions"}
	    <div style="font-size:13px;background-color:#fff;" id="tree2" class="jstree jstree-2 jstree-default" role="tree" aria-multiselectable="true" tabindex="0" aria-activedescendant="j2_1" aria-busy="false">
         <ul class="jstree-container-ul jstree-children" role="group">
                {$positions|raw}
            </ul>   
        </div>
        {else /}
        <div style="background-color:#fff;">
            <p style="text-align:center;padding-top: 21px;">
                <a data-toggle="modal" data-target="#Modal" data-backdrop="static" href="javascript:void(0)" data-id="{:input('department_id')?input('department_id'):1}" onclick="showCreateGroup(this);">
                    <i class="fa fa-plus"></i>
                    &nbsp;点击创建
                </a>
            </p>
            <p style="text-align:center;padding-top: 10px;">当前部门职位为空!</p>
        </div>
        {/notempty}
    </div>
</div>
<script type="text/javascript">
　　　　$(function(){
　　　　    $("#right_height").slimScroll({ height: '800px' });
　　　　})
</script>